<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.eduonix.test_app"
        versionCode = "10"
        version   = "1.0.0">

    <name>Testing Application</name>

    <description>
        This is a testing app for PhoneGap
    </description>

    <author href="http://eduonix.com" email="support@eduonix.com">
       Brad Traversy
    </author>

</widget>